<h1> </h1>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .map-container{

        height:500px;
      }
      #map {
        height: 100%;
      }
    </style>
	
<div class="map-container container">
    <div id="map"></div>
</div>
<script>


var image = 'img/m.png';
  $.post( "https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyAMIc7OAUicwD3-NJJ0wFmcxLlXD8B_Y5U", function( geo ) {
       var styles = [{"featureType":"administrative.locality","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#AFFFA0"}]},{"featureType":"poi","elementType":"all","stylers":[{"color":"#EAFFE5"}]},{"featureType":"poi.business","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.government","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"geometry","stylers":[{"color":"#59A499"}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"color":"#F0FF8D"},{"weight":2.2}]},{"featureType":"water","elementType":"all","stylers":[{"visibility":"on"},{"color":"#1A87D6"}]}];
  var styledMap = new google.maps.StyledMapType(styles,
    {name: "Styled Map"});
    var long = geo.location.lng;var lat = geo.location.lat;
  var mapOptions = {
    zoom: 16,
    center: new google.maps.LatLng(geo.location.lat,geo.location.lng),
    mapTypeControlOptions: {
      mapTypeIds: ['roadmap', 'map_style']
    }
  };
  var map = new google.maps.Map(document.getElementById('map'),
    mapOptions);
      map.mapTypes.set('map_style', styledMap);
      map.setMapTypeId('map_style');

        var beachMarker = new google.maps.Marker({
          position: {lat: geo.location.lat, lng: geo.location.lng},
          map: map,
          icon: image
        });
  });


    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMIc7OAUicwD3-NJJ0wFmcxLlXD8B_Y5U">
    </script>