<h1>Static#index</h1>
<p>Find me in app/views/static/index.html.erb</p>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .map-container{

        height:500px;
      }
      #map {
        height: 100%;
      }
    </style>
	
<div class="map-container container">
    <div id="map"></div>
</div>
<script>
        var image = '/img/m.png';
$.post( "https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyAMIc7OAUicwD3-NJJ0wFmcxLlXD8B_Y5U", function( geo ) {
    var long = geo.location.lng;var lat = geo.location.lat;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: {lat: lat, lng: geo.location.lng}
        });

        var beachMarker = new google.maps.Marker({
          position: {lat: lat, lng: long},
          map: map,
          icon: image
        });
  });
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMIc7OAUicwD3-NJJ0wFmcxLlXD8B_Y5U&callback=initMap">
    </script>