<h1>New Picture</h1>
<!-- 
  <input type="filepicker" name="url" data-fp-apikey="AMhKGKdexSpC0WsOfZNejz" onchange="alert(event.fpfile.url)">
  <script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script> -->
<%= render 'pictures/new_picture' %>
