// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.uploaded {
  // max-width: 100%;
  width: 100%;
  // width: calc(99% / 3);
  // width:300px;
  // padding: 10px;
  // background: #e8e8e8;
  // margin: 10px 0;
  // border-radius: 1.5%;
  // border: 3px solid #f7f7f7;
}
.container{
	padding-left:0 !important;
}
.f-r {
    width:100%;
    display:inline-grid;
    border-radius: 0;
    border-radius: 0 0 10px 0;
    border-right: 1px solid;
    border-bottom: 1px solid;
    &:hover{
      background: #e6e6e6;
    }
  .btn-gzn{
    // width: 50%;
  }
}
.f-l {
    width:100%;
    // width: 50%;
    display:inline-grid;
    border-radius: 0 0 0 10px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    &:hover{
      background: #e6e6e6;
    }
  .btn-gzn{
  }
}
.pic-title,.post-title {
  display: none;
}
.f-left, .f-l{
	float:left;
  background: #ececec;
}
.fp__btn{
  float:right;
}
.f-right, .f-r{
	float:right;
  background: #ececec;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{

      background: #4A9BCC !important;
}
.navbar-default {
  background-color: #1D83C1 !important;
  a{
    color:white !important;
    &:hover{
      background: #4A9BCC !important;
    }
    &:visited {
      color: #a7a7a7;
    }
  }
}
.field label{

color:white !important;
}
.picture-container,.post-container{
  overflow: hidden;
  float: left;
  text-align: center;
  display: inline-table;
}
.post-container {
	text-align:left;
  width: 100%;
  padding-right: 0px;
}
.fade.active {
  position: absolute;
  top:0;
  left:0;
  display: inline-block;
  background: black;
  z-index: 99999;
  opacity: 0.8;
  width:100vw;
  height:100vh
}
.create-new-post.container.active {
  // background: white;
  z-index: 9999999999;
  opacity: 1;
  position: fixed;
  padding: 2% !important;
  display: inline-block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5% !important;
}

.all-posts-grid{
    text-align: center;
    background-size: auto 100%;
    padding: 10px 0 0 0;
    padding-right:0px !important;
    h2 {
      color: #79B90F;
      font-size: 36px;
      line-height: 40px;
      font-weight: 800;
      padding-bottom: 4px;
      text-transform: uppercase;
    }
  }
  p {
      color: #FFF;
      font-size: 18px;
      line-height: 22px;
  }
  .btn {
      // width: auto;
      height:45px;
      display: inline-block;
      text-transform: uppercase;
      font-size: 14px;
      // padding: 1.1em 5em;
      padding: 0 30px;
      letter-spacing: 1.5px;
      border-radius: 3px;
      font-weight: 700;
      line-height: 43px;
      height: auto;
      &:hover {
        text-decoration: none;
      }
  }
  .wrapper{
    display: inline-block;

    .hide{
       
    }
    input{
        height: 3.4em;
        width: 0em;
        transition: width 0.5s;
        padding: 0;
        border: 0;
        &.reveal{
          padding: 0 1em;
        width: 40em;
        transition: width 0.5s;
        }
    }

    &.to-animate {
        position: relative;
        top: 50px;
        opacity: 0;
        transition: all 0.5s 0.3s ease-out;

        &.animated {
            top: 0;
            opacity: 1;
        }
    }
}

#wrapper {
  width: 100%;
  max-width: 1200px;
  min-width: 800px;
  // margin: 50px auto;
}

#columns {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}

.item {
  display: inline-block;
  // border: 2px solid #FAFAFA;
  // box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  // padding: 15px;
  // padding-bottom: 5px;
  opacity: 1;
  
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.item img {
  width: 100%;
  // border-bottom: 1px solid #ccc;
  // padding-bottom: 15px;
  // margin-bottom: 5px;
}

.item p {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  margin: 0;
}

@media (min-width: 960px) {
  #columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (min-width: 1200px) {
  #columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

#columns:hover .item:not(:hover) {
  opacity: 0.4;
}
